/* CSS Document */
#header{width:1200px;height:120px;border-style:none;margin:3px auto;padding:10px;}

#nav{width:1400px;height:90px;border-style:none;margin:5px auto;border:1px;margin:3px auto;font-size: 20px;}

#section1{width:1200px;height:45px;margin:3px auto;border:auto;}

#section2{width:1200px;height:550px;margin:3px auto;}
#aside1{width:200px;height:550px;float:left;}
#aside2{width:1000px;height:550px;float:left;}



