#nav1{width:1200px;height:90px;border-style:none;margin:5px auto;border:1px;margin:3px auto;font-size: 20px;}

#aside3{width:400px;height:300px;margin:0px auto;float:left;}
#aside4{width:400px;height:300px;margin:5px auto;float:center;}
#aside5{width:400px;height:300px;margin:0px auto;float:right}

#aside6{width:400px;height:300px;margin:0px auto;float:left;}
#aside7{width:400px;height:300px;margin:5px auto;float:center;}
#aside8{width:400px;height:300px;margin:0px auto;float:right}

#aside9{width:400px;height:300px;margin:0px auto;float:left;}
#aside10{width:400px;height:300px;margin:5px auto;float:center;}
#aside11{width:400px;height:300px;margin:0px auto;float:right}

#aside12{width:400px;height:300px;margin:0px auto;float:left;}
#aside13{width:400px;height:300px;margin:5px auto;float:center;}
#aside14{width:400px;height:300px;margin:0px auto;float:right}

#aside15{width:400px;height:300px;margin:0px auto;float:left;}
#aside16{width:400px;height:300px;margin:5px auto;float:center;}
#aside17{width:400px;height:300px;margin:0px auto;float:right}



table a:link{text-decoration: none;display:block;width:180px;height:23px;}
table a:hover{font-size: 100%}
#t1{position: relative;top: -70px}


#aside18{width:400px;height:300px;margin:0px auto;float:left;}
#aside19{width:400px;height:300px;margin:5px auto;float:center;}
#aside20{width:400px;height:300px;margin:0px auto;float:right}

#aside21{width:400px;height:300px;margin:0px auto;float:left;}
#aside22{width:400px;height:300px;margin:5px auto;float:center;}
#aside23{width:400px;height:300px;margin:0px auto;float:right}

#aside24{width:400px;height:300px;margin:0px auto;float:left;}
#aside25{width:400px;height:300px;margin:5px auto;float:center;}
#aside26{width:400px;height:300px;margin:0px auto;float:right}

#aside27{width:400px;height:300px;margin:0px auto;float:left;}
#aside28{width:400px;height:300px;margin:5px auto;float:center;}
#aside29{width:400px;height:300px;margin:0px auto;float:right}

#aside30{width:400px;height:300px;margin:0px auto;float:left;}
#aside31{width:400px;height:300px;margin:5px auto;float:center;}
#aside32{width:400px;height:300px;margin:0px auto;float:right}

#aside33{width:400px;height:300px;margin:0px auto;float:left;}
#aside34{width:400px;height:300px;margin:5px auto;float:center;}
#aside35{width:400px;height:300px;margin:0px auto;float:right}

#aside36{width:400px;height:300px;margin:0px auto;float:left;}
#aside37{width:400px;height:300px;margin:5px auto;float:center;}
#aside38{width:400px;height:300px;margin:0px auto;float:right}
