
body{text-align: center;}
#h1{width:1200px;height:100px; margin: 0 auto;}
#h3{width:1000px;height:320px; margin: 5px auto;text-align:center;border-color: #B74345;border-style:solid;}
#p{text-align: right;}
#h2{text-align: right}
#h4{text-align: right}
.input{width: 220px;height: 20px;}
.as{width:80px;height: 25px;}


